<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar">
            {% include 'testbed/user.html' %}
            {% include 'testbed/language_select.html' %}

        </nav>

        <div class="container">
        {% block content %}
            <a href="{% url 'functions_index' %}">Python</a>
            <a href="{% url 'project_list' %}">Projects</a>
        {% endblock %}
        </div>
    </body>
</html>