{% extends 'python_function_pages/index.html' %}

{% block function_content %}

<h1>Valid Spacing</h1>
<a href="https://www.codewars.com/kata/5f77d62851f6bc0033616bd8">from kata</a>
<br>
Your task is to write a function called valid_spacing() or validSpacing() which checks if a string has valid spacing. The function should return either True or False.

For this kata, the definition of valid spacing is one space between words, and no leading or trailing spaces. Below are some examples of what the function should return.

<form method="POST">
    {% csrf_token %}
    <input type="text" name="text" value="{{ request.POST.text }}" />
    <button>submit</button>
</form>

{{ result }}

{% endblock %}