<html>
<head>
    <title> Word Count </title>
</head>
<body>

    <a href="/">index</a>

    <h1>Word Count</h1>

    <h2>Text Area</h2>
    <form hx-post="/count_words" hx-target="#result">
        {% csrf_token %}
        <textarea name="text" rows=10 cols=100>{{ request.POST.text }}</textarea>
        <br />
        <button>Word Count from textarea</button>
    </form>

    <div id='result'>
        Result will be here
    </div>

    <h2>File Upload</h2>
    <form hx-post="/count_words"  hx-encoding="multipart/form-data"  hx-target="#file_result">
        {% csrf_token %}
        <input type="file" name="upload_file"></textarea>
        <br />
        <button>Word Count from upload</button>
    </form>

    <div id='file_result'>
        File Result will be here
    </div>

    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</body>
</html>