<a href="/">index</a>
<div class="project">
    {% csrf_token %}
    
    {% if user.is_authenticated %}
        <h1> Project List</h1>
        
        <button
            hx-get="{% url 'create_project' %}"
            hx-swap="outerHTML"
        >
            Add
        </button>
        
        {% if perms.python_function_pages.view_project %}
            <ul>
            {% for project in projects %}
                {% include "projects/partials/project_row.html" %}
            {% endfor %}
            </ul>
        {% else %}
            <span> Sorry, you do not have permission to view projects. </span>
        {% endif %}
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</div>
