{% load i18n %}

<h4>{% translate "Are you sure?" %}</h4><br/>
{% translate "Are you sure you want to delete the project" %} {{ project.name }}? {% translate "All of the following related items will be deleted:" %}
<br/>
<b>{% translate "Summary" %}</b><br/>
<ul>
    <li>{% translate "Projects:" %} {{ project.id }}</li><br/>
</ul>
<b>{% translate "Objects" %}</b><br/>
<ul>
    <li>{% translate "Project:" %} {{ project.name }}</li> <br/>
</ul>

<button
    hx-post="{% url 'delete_project' pk=project.id %}"
    hx-include="input[name=csrfmiddlewaretoken]"
    hx-target="closest body"
>
    {% translate "Yes, I'm sure" %}
</button>
<button
    hx-get="#main_content"
    hx-target="closest body"
>
    {% translate "No, take me back" %}
</button>